<div class="container my-3">
    <h3 class="text-center"> User List </h3>
    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col"> Serial </th>
                <th scope="col"> Name </th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; index as i">
                <td scope="row">{{ i+1 }}</td>
                <td scope="row">{{ user.name }}</td>
                <td scope="row">{{ user.email }}</td>
                <td scope="row">{{ user.password }}</td>
                <td scope="row">
                    <button
                        (click) = "updateUser(user.id)"
                        class="btn btn-info mr-1"
                    >Update</button>
                    <button
                        (click) = "deleteUser(user.id)"
                        class = "btn btn-danger ms-1"
                    >Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>